form {
    display: flex !important;
    justify-content: space-around;

}

.text-input {
    width: 80%;
}

button {
    background-color: #753188 !important;
    color: white !important;
}

button:hover {
    filter: brightness(90%);
}

