.input-area {
    margin: 10px auto !important;
    max-width: 600px;
    min-width: 450px;
}

form {
    display: flex !important;
    justify-content: space-around;
}

.text-input {
    width: 80%;
}